# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
Thumbs.db

# repomix output files (keep configs)
repomix*.xml
*-repomix.xml
b_slrrgaDt1UP/
